.tooltip-div {
  position: relative;

  .tooltip {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: rgb(30, 30, 30);
    // border: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 13px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    user-select: none;

    &.show {
      opacity: 1;
    }
  }
}
