.auth.page {
  display: flex;
  flex-direction: column;

  .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      font-size: 72px;
      font-weight: bold;
      color: rgb(214, 126, 97);
    }

    .form {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      input {
        width: 300px;
        font-size: 16px;
        margin-bottom: 10px;
        background-color: rgb(10, 10, 10);
        padding: 5px 12px;
        box-sizing: border-box;
      }

      .button {
        font-size: 16px;
        background-color: rgb(38, 38, 38);
        margin-bottom: 10px;
        padding: 8px 8px;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
          background-color: rgb(64, 64, 64);
        }

        &.submit {
          margin-top: 20px;
          background-color: rgb(86, 60, 52);

          &:hover {
            background-color: rgb(161, 97, 55);
          }
        }

        &.signup {
          background-color: rgb(66, 52, 86);

          &:hover {
            background-color: rgb(97, 55, 161);
          }
        }
      }
    }
  }
}
